# IDE files
/.idea/
/nbproject
/.vscode/
.phpactor.json

# hidden files by windows & mac
Thumbs.db
.DS_Store

# environment file/symlink
/.env

# Dependency directories
node_modules
/vendor
/vendor-bin/cachetool/vendor

# Optional npm cache directory
.npm

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
